<div class="px-4 py-5 my-5 text-center d-flex flex-column align-items-center justify-content-center heroSection">
    <!-- <img class="d-block mx-auto mb-4" src="" alt="" width="72" height="57"> -->
    <h1 class="display-5 fw-bold mb-5">Hello I'm Hossein!</h1>
    <div class="col-lg-6 mx-auto">
        <!-- <h4 class=" mb-4">Engineer | Front-End Dev | Open-Source Enthusiast</h4> -->
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-4">
            <h4 class="px-3">Engineer</h4>
            <h4 class="px-3">Front-End Dev</h4>
            <h4 class="px-3">Open-Source Enthusiast</h4>
        </div>
        <div class="d-grid gap-1 d-sm-flex justify-content-sm-center divIcons">
            <a class="px-3" href="https://github.com/sacramento-7">
                <h1><i class="bi bi-github"></i></h1>
            </a>
            <a class="px-3" href="https://www.linkedin.com/in/hossein-kashfinia-756888107/">
                <h1><i class="bi bi-linkedin"></i></h1>
            </a>
            <a class="px-3" data-bs-toggle="tooltip" title="hossein_k_89">
                <h1><i class="bi bi-instagram"></i></h1>
            </a>
            <a class="px-3" data-bs-toggle="tooltip" title="@Hosseink89">
                <h1><i class="bi bi-telegram"></i></h1>
            </a>
            <a class="px-3" data-bs-toggle="tooltip" title="hossein.kashfinia@gmail.com">
                <h1><i class="bi bi-google"></i></h1>
            </a>
            <a class="px-3">
                <h1><i class="bi bi-facebook" data-bs-toggle="tooltip" title="hossein knia"></i></h1>
            </a>
        </div>
    </div>
</div>