<div class="container px-4 py-5 skillsSection align-items-center" id="skills">
  <h2 class="pb-2 border-bottom text-center">Skills</h2>
  <p class="fs-5 lead mt-4"><i class="bi bi-info-circle-fill me-2"></i>I have learned a variety of professions as a result of the field of study I studied and the jobs I had. Ideally, I would like to include all these professions in the majority of a successful startup idea.</p>

  <!--Tabs-->
  <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Back-End</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Front-End</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Others</button>
    </li>
  </ul>
  <!--Tab Content-->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <div class="row mt-5">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card card2 mt-3">
            <div class="mb-4">
              <h1 class="headingCardIcon">
                <i class="fa-solid fa-code"></i>
              </h1>
            </div>
            <div class="mt-auto">
              <h4 class="p-4 fontBold">
                C#
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card card2 mt-3">
            <div class="mb-4">
              <h1 class="headingCardIcon">
                <i class="fa-brands fa-microsoft"></i>
              </h1>
            </div>
            <div class="mt-auto">
              <h4 class="p-4 fontBold">
                .NET
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card card2 mt-3">
            <div class="mb-4">
              <h1 class="headingCardIcon">
                <i class="fa-brands fa-wordpress"></i>
              </h1>
            </div>
            <div class="mt-auto">
              <h4 class="p-4 fontBold">
                Wordpress
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card card2 mt-3">
            <div class="mb-4">
              <h1 class="headingCardIcon">
                <i class="fa-brands fa-python"></i>
              </h1>
            </div>
            <div class="mt-auto">
              <h4 class="p-4 fontBold">
                Python
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <div class="row mt-5">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card card2 mt-3">
            <div class="mb-4">
              <h1 class="headingCardIcon">
                <i class="fa-brands fa-angular"></i>
              </h1>
            </div>
            <div class="mt-auto">
              <h4 class="p-4 fontBold">
                Angular
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card card2 mt-3">
            <div class="mb-4">
              <h1 class="headingCardIcon">
                <i class="fa-brands fa-bootstrap"></i>
              </h1>
            </div>
            <div class="mt-auto">
              <h4 class="p-4 fontBold">
                Bootstrap
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card card2 mt-3">
            <div class="mb-4">
              <h1 class="headingCardIcon">
                <i class="fa-brands fa-html5"></i>
              </h1>
            </div>
            <div class="mt-auto">
              <h4 class="p-4 fontBold">
                HTML
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card card2 mt-3">
            <div class="mb-4">
              <h1 class="headingCardIcon">
                <i class="fa-brands fa-css3-alt"></i>
              </h1>
            </div>
            <div class="mt-auto">
              <h4 class="p-4 fontBold">
                CSS
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card card2 mt-3">
            <div class="mb-4">
              <h1 class="headingCardIcon">
                <i class="fa-brands fa-js"></i>
              </h1>
            </div>
            <div class="mt-auto">
              <h4 class="p-4 fontBold">
                JavaScript
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
      <div class="row mt-5">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card card2 cardBlack mt-3">
            <div class="mb-4">
              <h1 class="headingCardIcon">
                <i class="fa-brands fa-git-alt"></i>
              </h1>
            </div>
            <div class="mt-auto">
              <h4 class="p-4 fontBold">
                Git
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card card2 cardBlack mt-3">
            <div class="mb-4">
              <h1 class="headingCardIcon">
                <i class="fa-solid fa-terminal"></i>
              </h1>
            </div>
            <div class="mt-auto">
              <h4 class="p-4 fontBold">
                MATLAB
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card card2 cardBlack mt-3">
            <div class="mb-4">
              <h1 class="headingCardIcon">
                <i class="fa-solid fa-cube"></i>
              </h1>
            </div>
            <div class="mt-auto">
              <h4 class="p-4 fontBold">
                SolidWork
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card card2 cardBlack mt-3">
            <div class="mb-4">
              <h1 class="headingCardIcon">
                <i class="fa-solid fa-magnifying-glass-chart"></i>
              </h1>
            </div>
            <div class="mt-auto">
              <h4 class="p-4 fontBold">
                Ansys
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>