/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
body{
    background-color: #2a9d8f;
    color: #fff;
    font-family: 'Georgia', cursive;
}
